.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.visited{
    background-color: green;
}
.non-visited{
    background-color: red;
}
.flag-container img{
    width: 100px;
    height: 80px;
}